<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/Daniel/Desktop/Daniel's Folder/UCLA/Senior/Spring '13/CS 174A/Team Project/JediChess/JediChess/JediChess.xcodeproj</string>
</dict>
</plist>
